<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <elgentos_rumvision>
            <general>
                <enabled />
                <trackingId />
                <hostname />
                <sampling_rate>100</sampling_rate>
                <excluded_bot_patterns>bot
crawl
spider
slurp
baidu
yandex
bing
google
duckduck
semrush
ahrefs
lighthouse
pagespeed
gtmetrix
facebookexternalhit
meta-externalagent</excluded_bot_patterns>
            </general>
        </elgentos_rumvision>
    </default>
</config>
